<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bookmarked</title>
  </head>
  <body>
    <h1><a href="/home">Bookmarked</a></h1>
    <nav>
      <a href="/login">login</a>
      <a href="/register">register</a>
      <a href="/feed">feed</a>
      <a href="/confirm">confirm</a>
      <a href="/user">user</a>
      <a href="/create">create</a>
    </nav>
    {{{body}}}
  </body>
</html>
