
<center>
<div class="container">
<div class='display-4 formbg' >Welcome to Bookmarked, {{user}}</div>

  <div id='instructions'>
    <div class="display-3">How To Get Started: </div>
    <ul id='ele'>
      <li>First go to the create page and make your own bookmarks.</li>
      <li>Then navigate your way over to the feed to see your bookmark and what other users have shared.</li>
    </ul>
  </div>


</div>
</center>
