<h3 class="display-3">Create </h3>


<h1> Folders </h1>
<ul>
  {{#each Folder as |f|}}
    <li> {{f.name}} </li>
  {{/each}}
</ul>


<h1> Bookmarks </h1>
<ul>
  {{#each Bookmark as |b|}}
  <a href={{b.url}}><li> {{b.name}} </li></a>
  {{/each}}
</ul>


<form class="" action="" method="post">
  Folder:
  <input type="text" name="newFolder" placeholder="Folder Name">
  <input type="submit" placeholder="New Folder">

</form>

<form class="" action="" method="post">
  Bookmarks:
  <input type="text" name="url" placeholder="URL">
  <input type="text" name="name" placeholder="NAME">
  <input type="text" name="folder" placeholder="Folder Name">
  <input type="submit" name="" value="GIMME A MARK">
  <!-- <input type="text" name="folder" placeholder="FOLDER"> -->
</form>

<!-- Do a search where we find By Folder - display all folders -->




<!--===========================================
Doesn't work yet, but I'm creating a drop zone to
get data from urls

- Need to figure out how to use WebPack to bundle
  js code to client side
=============================================-->

<!-- <div id="dropZone" ondrop="drop(event)" ondragover="allowDrop(event)"></div> -->
