
<center>
<div class="container">
<div class="col-sm-6 col-md-6">
<div class='formbg'>

<h3 class="display-3">Create </h3>
<h1> Bookmarks </h1>
<!-- <ul> -->
  {{#each Bookmark as |b|}}
  <a href={{b.url}}><div> {{b.name}} </div</a>
  {{/each}}
<!-- </ul> -->

<!-- <h1>Welcome to Bookmarks </h1> -->

<form class="" action="" method="post">
  <div class="form-group">
  <input class="form-control" type="text" name="url" placeholder="URL" required>
</div>

  <div class="form-group">
  <input class="form-control" type="text" name="name" placeholder="NAME" required>
</div>

  <div class="form-group">
  <input class="form-control" type="text" name="folder" placeholder="Folder Name" required>
</div>

  <input type="submit" class="btn btn-primary" value="GIMME A MARK">
  <!-- <input type="text" name="folder" placeholder="FOLDER"> -->
</form>

</div>
</div>
</div>
</center>





<!--===========================================
Doesn't work yet, but I'm creating a drop zone to
get data from urls

- Need to figure out how to use WebPack to bundle
  js code to client side
=============================================-->

<div id="dropZone" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
