
<center>
<div class="container">
<div class="col-sm-6 col-md-6">
<div class='formbg'>

<h1> Add a Bookmark  </h1>

{{#if Err}}
  <div class="flash">
    {{Err}}
  </div>
{{/if}}

<form class="" action="" method="post">
  <div class="form-group">
  <input class="form-control" type="text" name="url" placeholder="URL" required>
</div>

  <div class="form-group">
  <input class="form-control" type="text" name="name" placeholder="NAME" required>
</div>


  <input type="submit" class="btn btn-primary" value="Make a Bookmark">

</form>

</div>
</div>
</div>
</center>





<!--===========================================
Doesn't work yet, but I'm creating a drop zone to
get data from urls

- Need to figure out how to use WebPack to bundle
  js code to client side
=============================================-->

<div id="dropZone" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
