
<div class="container">


<h3>Feed </h3>

<div class="box">


{{#each AllBookmarks as |mark|}}

  <div class="outerProf">


    <div class="profile">
        <h1>{{@key}}</h1>

        <div class="innerProfile">


      <ul>
        {{#each mark as |m|}}

        <div class="bookmarkContainer">
          {{#each m as |final|}}
            <a href='https://www.{{final.url}}'> <li>{{final.name}}</li></a>
          {{/each}}

        </div>
        {{/each}}

      </ul>
      </div>

      </div>
      </div>
{{/each}}

</div>

</div>





<!--
<form class="" action="" method="post">
  Bookmarks:
  <input type="text" name="url" placeholder="URL">
  <input type="text" name="name" placeholder="NAME">
  <input type="text" name="folder" placeholder="Folder Name">
  <input type="submit" name="" value="GIMME A MARK">
</form> -->
