
<div class="container">


<h3 class='display-4'>Feed</h3>

<div class="box">

  {{#each AllBookmarks as |final|}}
    <div class="bookmarkContainer">
      <div class="userPost">
        <span class="small">
          Posted by:
        </span>
          {{final.user}}
      </div>
        <ul class='list-unstyled innerProfile'>
            <a href='{{final.url}}'> <li>{{final.name}}</li></a>
        </ul>
        </div>
          {{/each}}

</div>
