<center>
<div class="container">
<div class='display-4 formbg' >Welcome to Bookmarked Home</div>

  <div id='instructions'>
    <div class="display-3">Random Bookmark: </div>
    <ul id='ele'>
      <li>First go to the create page and make your own bookmark.</li>
      <li>Then navigate your way over to the feed to see your bookmark and what other users have shared.</li>
    </ul>
  </div>


</div>
</center>
