<center>
<div class="container">
<div class='display-4 formbg' >Welcome to Bookmarked Home</div>

  <div id='instructions'>
    <div class="display-4"> <a href="/login">Login</a> or <a href="/register">Register</a> for an account to view bookmarks.</div>
  </div>

  <div class="imgContainer">
    <img class="image rounded mx-auto" src="{{pic}}" alt="Very Incredible Pic of Rihanna">
  </div>


</div>
</center>
