<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bookmarked</title>
    <!-- CDN for Bootstrap included -->
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="page">



    <div class="col-xs-1 center-block text-center">
      <h1 class="display-1"><a href="/home">Bookmarked</a></h1>
    </div>

    <nav class='navbar navbar-toggleable-md navbar-light bg-faded'>
      <!-- <div class="container "> -->
          <span class="nav-item active"> <a href="/feed" class="nav-link">Feed</a></span>
          <span class="nav-item active"><a href="/search" class="nav-link">Search</a></span>
          <span class="nav-item active"><a href="/create" class="nav-link">Create</a></span>
      <!-- </div> -->
    </nav>



    {{{body}}}

    </div>
    <!-- <script src='bundle.js'></script> -->
  </body>
</html>
