




<center>
<div class="container">
<div class="col-sm-6 col-md-6">
  <div class='formbg'>
  <h3>Login</h3>


  <div class="flash">{{logIn}} </div>

  {{#if message}}
      {{#each message as |m|}}
        <div class="flash">{{m}}</div>
      {{/each}}
  {{/if}}

  <form class="" action="" method="post">
    <div class="form-group">
    <input type="text" class="form-control" name="username" value="" placeholder="Username">
  </div>

    <div class="form-group">
    <input type="text" class="form-control" name="password" value="" placeholder="Password">
  </div>

    <input type="submit" class="btn btn-primary" name='loginBtn' value="Login">
    <a class="btn btn-danger" href="/register">Register</a>
  </form>
</div>

</div>
</div>
</center>
