<h3>Register </h3>


{{#if message}}
<h1>{{message}}</h1>
{{/if}}

<form class="" action="" method="post">
  <input type="email" name="email" value="" placeholder="Email" required>
  <input type="text" name="username" value="" placeholder="Username" required>
  <input type="text" name="password" value="" placeholder="Password" required>
  <input type="submit" name="" value="Sign Up">
</form>
