

<center>
<div class="container">
<div class="col-sm-6 col-md-6">
<div class='formbg'>
<h3>Search</h3>

<form class="" action="" method="GET">
    <label>Search for Bookmark by name:</label>

  <div class="form-group">
  <input class="form-control" type="text" name="name" value="" required>
</div>
  <input class="btn btn-primary" type="submit" value="Search">
</form>

</div>

{{#if bookmark}}
  <h3>Results: </h3>
  {{#each bookmark as |b|}}
    <a href='{{b.url}}'> <h1>{{b.name}}</h1></a>
  {{/each}}
{{/if}}

</div>
</div>
</center>
